:root {
    --bigfont: 35px;
    --explainfont: 25px;
    --smallphont: 15px;

    --colorbe: beige;
    --colorbl: black;
  }




body{
    padding: 0;
    margin: 0;
}
div{
    box-sizing: border-box !important;
}
.BUTbn{
    border:none;
}


.BGC-wh{
    background-color: white;
}
.BGC-bl{
    background-color: var(--colorbl);
}
.BGC-be{
    background-color: var(--colorbe);
}
.FSs{
    font-size: var(--smallphont);
}
.FSm{
    font-size: var(--explainfont);
}
.FSb{
    font-size: var(--bigfont);
}
.MG0{
    margin: 0;
}



.nav{
    width: auto;
    height: 70px;
    background-color: var(--colorbl);
    margin-bottom: 70px;
}

.center{
    display: flex;
    justify-content: center;
}






.container{
    width: 80%;
    height: 570px;
    min-width: 100px;
    max-width: 800px;
    border: 3px solid var(--colorbe);
    border-radius: 10px;
    background-color: var(--colorbe);
    display: flex;
    flex-direction: column;
}
.container_top{
    width: 100%;
    height: auto;
    padding-left: 5%;
}

.menucontainer{
    margin-top: 3%;
    width: 100%;
    height: auto;
    padding-left: 5%;
}
.menubutton{
    width: auto;
    height: 40px;
    border-radius: 10px;
}
.workscontainer{
    width: 100px;
    height: auto;
    margin-top: 2%;
    border-radius: 10px;
    position: relative;
    background-color: aqua;
}

.textcontainer{
    margin-top: 3%;
    width: 100%;
    height: auto;
    padding-left: 5%;
}
.textarea2{
    width: 90%;
    height: 300px;
    border: none;
    resize: none;
}
.container_footer{
    width: 100%;
    padding-left: 5%;
    height: 50px;
    margin-top: 2%;
}
.footer_button{
    border-radius: 10%;
    width: 70px;
    height: 40px;
}
.footer_button > p{
    color: var(--colorbe);
    font-weight: bold;
}








@media screen and (max-width : 750px){
    .textarea{
        width: 90%;
    }
}